@font-face {
    font-family: 'StarTrek';
    src: url("fonts/StarTrekBT-regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

#add-your-own {
    background-color: none;
    color: #9FB5CC;
    padding-left: 25px;
}

#banner{
    /* color: #C6E3FF; */
    color: #9FB5CC;
    /* text-align: right; */
    font-family: 'Orbitron', sans-serif;
}

body {
    height: 100%;
    background-color:  #3D5D7F;
}

.btn-submit, .btn-gif {
    color: #9FB5CC;
    margin: 5px auto 0px auto;
    border-radius: 5px;
    /* border: 1px blue solid; */
    border: 0px;
    float: left;
    clear: left;
    background-color: #3D5D7F
}

.btn-submit {
    border: 1px #708090 solid;
    /* display: block; */
    /* float: right; */
    margin-right:20%;
}

#buttons-holder {
    padding-left: 25px;
    /* background-color: #3D5D7F; */
    /* height: 80%;  */
    bottom: 0;
}

.col-3-md {
    border-left: 2px #C6E3FF solid;
}

.col-9-md {
    /* border: 5px red solid !important; */
}

/* .container-fluid, .container {
    padding: 0px 50px 0px 50px;
    height: 100%;
    position:relative;
    background-color: aquamarine;
} */

.col-border {
    position:static;
    padding-left: 0px;
}

.col-border:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    border-left: 1px #C6E3FF solid;
}

#everything {
    padding: 0px 20px 0px 20px;
    height: 100%;
    position:relative;
    background-color: slategray;
}

#explainer {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: medium;
    color: black;
    /* float: left; */
    clear: left;
    font-weight: 100;
    margin-top: 10px;
}

#form-label {
    padding-top: 10px;
    color: #9FB5CC;
    font-family: 'Orbitron', sans-serif;
}

#gif-holder {
    float:left;
    background-color: #3D5D7F;
    height: 100%;
    min-height: 1000px;
}

header {
    min-height: 5em;
    background-color: lightgray;
}

#instructions {
    padding-left:10px;
    padding-top: 10px;
    text-align: left;
    color: #C6E3FF;
    font-family: 'Orbitron', sans-serif;
}

.item {
    float: left;
    margin: 5px;
    border: 1px black solid;
    border-radius: 5px;
    padding: 3px;
}

#logo {
    color: black;
    display: inline-block;
    font-family: 'Orbitron', sans-serif;
    /* font-family: 'Audiowide', cursive; */
    padding: 5px;
    padding-top: 25px;
    padding-left: 25px;
    font-size: 3em;
    width: 75%;
    background-color:none;
}

#logo-name {
    color: black;
    /* font-family: 'Audiowide', monospace; */
    font-family: 'StarTrek';
    font-size: 2em;
    /* font-style: oblique; */
}

#name-box, #phrase-box {
    border-radius: 5px;
    color: #3D5D7F;
    border: 1px #3D5D7F solid;
    background-color: #C6E3FF;
    /* background-color: ; */
}

navbar {
    /* float: right;
    display: block; */
    width: 25%;
    /* background-color:pink; */
    float: right;
    padding: 10px;
}

#ratings-menu {
    background-color: lightgray;
    float: right;
    clear: right;
}

#ratings-menu-label {
    float: right;
}

#color-menu-label {
    float: right;
    clear: right;
    margin-top: 10px;
}


#color-menu {
    background-color: lightgray;
    float: right;
    clear: right;
}
.row {
    /* border: 2px green dashed !important; */
}

#sidebar-right {
    /* position: absolute; */
    /* padding: 25px; */
    /* right: 0; */
    bottom:0;
    background-color: slategray;
    /* border-left: 1px #C6E3FF solid; */
    min-height: 1000px;
    height: 100%;
}

@media screen and (max-width: 768) {

    /* #sidebar-right {
        display: block;
        float: left;
        width: 100%;
    }

    #gif-holder {
        display: block;
        float: right;
        width: 100%;
    } */
}
